@start("Musclepedia"){
<div role="tabpanel" class="tab-pane">
    <div class="row">
        <div class="col-md-8">
            <p>Auf dieser Seite lernen Sie alle rund um das Thema Fitness.
                Lernen Sie sowhl neue Übungen, als auch Trainingspläne kennen, oder stellen
                Sie sich ganz einfach Ihren individuellen Trainingsplan zusammen.</p>
        </div>
        <div class="col-md-4">
            <img src="@routes.Assets.at("images/home_bild.jpg")" id="home_img_1"/>
        </div>
    </div>
</div>
}