@main("Musclepedia"){
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2" id="content">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li class="active"><a href="#login" role="tab" data-toggle="tab">Login</a></li>
                <li><a href="#register" role="tab" data-toggle="tab">Registrieren</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="col-md-6 tab-pane active" id="login">
                    <form method="get" action="/start">
                        <div class="form-group">
                            <h3>Login</h3>
                            <label for="name1">Benutzername</label>
                            <input id="name1" class="form-control" type="text" placeholder="Name"/>
                            <label for="pass1">Passwort</label>
                            <input id="pass1" class="form-control" type="password" placeholder="Passwort"/>
                            <br/>
                            <input type="submit" class="btn btn-primary" name="login" value="Login"/>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane col-md-6" id="register">
                    <form method="get" action="/">
                        <div class="form-group">
                            <h3>Registrieren</h3>
                            <label for="name2">Benutzername</label>
                            <input id="name2" class="form-control" type="text"/>
                            <label for="pass2">Passwort</label>
                            <input id="pass3" class="form-control" type="password"/>
                            <label for="pass3">Passwort wiederholen</label>
                            <input class="form-control" type="password" name="passwords"/>
                            <label for="email">Email-Adresse</label>
                            <input id="email" class="form-control" type="email" name="mail"/>
                            <br/>
                            <input type="submit" class="btn btn-primary" name="login" value="Registrieren"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function ($) {
                $('#myTab').tab();
              });
    	</script>
    </div>
}