@start("Musclepedia"){

    <div>
        <h3> Oberkörper-Übungen</h3>
        <table class="table table-bordered">
            <thead class="text-center">
                <tr><th class="text-center"> Name </th> <th class="text-center"> Beschreibung </th> <th class="text-center"> Bild </th> <th class="text-center"> Schwierigkeitsgrad </th></tr>
            </thead>
            <tbody class="text-center">
                <tr> <td>LH-Flachbankdrücken</td> <td>Flach hinlegen, Füße fest am Boden, den Ringfinger an der Einkerbung der Stande platzieren um richtige Griffbreite zu haben </td> <td><a href=#>zzz</a></td> <td>Fortgeschritten</td></tr>
                <tr> <td>Kreuzheben</td> <td>Schulterbreiter Stand und Griff, Brust raus damit der Rücken gerade ist</td> <td><a href=#>xxx</a></td> <td>Fortgeschritten</td></tr>
                <tr> <td>Kniebeugen</td> <td> Schulterbreiter Stand, die LH hinter dem Kopf im Nacken, Füße leicht nach außen gespreizt </td> <td><a href=#>yyy</a></td> <td>Fortgeschritten</td></tr>
            </tbody>
        </table>
    </div>

}