@start("Trainingspläne Profi"){
    <script src="@routes.Assets.at("javascripts/plaene.js")" type="text/javascript"></script>
<div class="text-center">
    <h3 class="text-center"> Profis - Traininspläne</h3>
    <br>
    <table class="table table-striped">
        <thead class="text-center">
            <div class="container">
                <tr>
                    <th class="text-center col-md-3"> Name </th>
                    <th class="text-center col-md-3"> Beschreibung </th>
                    <th class="text-center col-md-3"> Übungen </th>
                    <th class="text-center col-md-3"></th>
                </tr>
            </div>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>HIIT</td>
                <td>High Interval Intensity Training für die ultimativen Zuwächse (genannt "Gains")</td>
                <td>
                    <ul>
                        <li> Tag 1: Brust, Arme, Schultern </li>
                        <li> Tag 2: Bauch, <a href="/uebungen_beine">Beine</a>, <a href="/uebungen_oberkoerper">Rücken</a> </li>
                    </ul>
                </td>
                <td> <input type="submit" value="Add to plans" onclick="addToPlan()"/> </td>
            </tr>
            <tr>
                <td>BSP</td>
                <td>...</td>
                <td>
                    <ul>
                        <li> Tag 1: Bankdrücken, LH-Rudern, etc</li>
                        <li> Tag 2: Kreuzheben, Beinpresse, Latzug, etc.</li>
                    </ul>
                </td>
                <td> <input type="submit" value="Add to plans" onclick="addToPlan()"/> </td>
            </tr>
        </tbody>
    </table>
</div>
}