@start("Muscelpedia/Profil"){
    <div class="row text-center">
        <div class="col-md-8" id="profil">
        <table border="3" id="profildaten" class="table-striped">
            <tr>
                <td>Benutzername </td>
                <td> aktueller name aus dem Objekt</td>
                <td><button class="btn btn-primary">Ändern</button> </td>
            </tr>
            <tr>
                <td>Passwort</td>
                <td>Hier sollte nichts stehen meiner Meinung nach</td>
                <td><button class="btn btn-primary">Ändern</button> </td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>aktuelle Email des Objekts</td>
                <td><button class="btn btn-primary">Ändern</button> </td>
            </tr>

        </table>
        </div>
    </div>
}