

@start("Musclepedia"){
    <div role="tabpanel" class="tab-pane">
        <div class="row text-center">
            <div class="col-md-8" id="profil">
                <table border="3" id="profildaten" class="table-striped">
                    <tr>
                        <td>Benutzername </td>
                        <td> aktueller name aus dem Objekt</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>aktuelle Email des Objekts</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <form method="post">
        <p> Altes Passwort:     <input type="password" id="pwalt"></p>
        <p> Neues Passwort:     <input type="password" id="pwneu"></p>
        <p> Passwort wiederholen<input type="password" id="pwwieder"></p>
        <button>Passwort ändern </button>
        <p>Neue Email: <input type="email"> <button> Email ändern</button>  </p>

    </form>
}