@start("Studiosuche"){
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2" id="kn">
            <h1> Studios in Konstanz</h1>
            <ol>
                <li>
                    <div id="platz1">
                        <h3>TESTSTUDIO </h3>
                        <p>Konstanz Straßenname Hausnr Öffnungszeiten:Zeit   Preis:Geld</p>
                        <div class="col-md-4 col-md-offset-2">
                            <img src="@routes.Assets.at("images/favicon.png")"/>
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                        <table border="2">
                            <tr>
                                <th>Punkt </th>
                                <th>Bewertung </th>
                                <th>Deine Bewertung </th>
                            </tr>
                            <tr>
                                <td>Öffnungszeiten: </td>
                                <td>5.4 </td>
                                <td>Nicht abgeben </td>
                            </tr>
                            <tr>
                                <td>Geräte: </td>
                                <td>10 </td>
                                <td>Nicht abgeben </td>
                            </tr>
                            <tr>
                                <td>Sauberkeit: </td>
                                <td>1.9 </td>
                                <td>Nicht abgeben </td>
                            </tr>
                            <tr>
                                <td>Training: </td>
                                <td>0.6 </td>
                                <td>Nicht abgeben </td>
                            </tr>
                            <tr>
                                <td>Preis/Leistung: </td>
                                <td>6.7 </td>
                                <td>Nicht abgeben </td>
                            </tr>
                            <tr>
                                <td>Durchschnitt: </td>
                                <td>Wird automatisch errechnet </td>
                                <td>Nicht abgeben </td>
                            </tr>
                        </table>
                            <button class="btn btn-primary">Eigene Bewertung abgeben/ändern</button>
                        </div>
                    </div>

                </li>
                <li>
                    <div id="platz2">
                        <h3>TESTSTUDIO 2 </h3>
                        <p>Konstanz Straßenname Hausnr Öffnungszeiten:Zeit   Preis:Geld</p>
                        <div class="col-md-4 col-md-offset-2">
                            <img src="@routes.Assets.at("images/favicon.png")"/>
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                            <table Border="2">
                                <tr>
                                    <th>Punkt </th>
                                    <th>Bewertung </th>
                                    <th>Deine Bewertung </th>
                                </tr>
                                <tr>
                                    <td>Öffnungszeiten: </td>
                                    <td>5.4 </td>
                                    <td>Nicht abgeben </td>
                                </tr>
                                <tr>
                                    <td>Geräte: </td>
                                    <td>10 </td>
                                    <td>Nicht abgeben </td>
                                </tr>
                                <tr>
                                    <td>Sauberkeit: </td>
                                    <td>1.9 </td>
                                    <td>Nicht abgeben </td>
                                </tr>
                                <tr>
                                    <td>Training: </td>
                                    <td>0.6 </td>
                                    <td>Nicht abgeben </td>
                                </tr>
                                <tr>
                                    <td>Preis/Leistung: </td>
                                    <td>6.7 </td>
                                    <td>Nicht abgeben </td>
                                </tr>
                                <tr>
                                    <td>Durchschnitt: </td>
                                    <td>Wird automatisch errechnet </td>
                                    <td>Nicht abgeben </td>
                                </tr>
                            </table>
                            <button class="btn btn-primary">Eigene Bewertung abgeben/ändern</button>
                        </div>
                    </div>


                </li>

            </ol>
        </div>

}