@start("Studiosuche"){
    <div class="col-md-8">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2" id="studios">
                <p> Hier kannst du Auswählen aus welchen Ort du Studios ansehen und bewerten willst derzeit haben wir Studios aus folgenden Orten in unserer Datenbank: </p>
                <p><a href="/knstudio ">Konstanz </a></p>
                <p><a href="/knstudio">Radolfzell </a></p>
                <p><a href="/knstudio">Singen </a></p>
                <p>Sollten noch einige Studios fehlen wende dich an unseren Kontakt(Eventuell bauen wir hier noch eine Funktion ein) </p>
             </div>
        </div>
    </div>
}