body{
    background-color: #777777;
}
#login_img{
    background-image: url("../images/login_background.jpg");
}

.container {
    width: 200px;
    height: 150px;
}

.container img{
    width: 100%;
    height: auto;
}